@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: auto;
    height: auto;
    background-image: url('../img/background-wood-table.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: #CC9B7A;

    height: auto;


    padding: 20px;
    border-radius: 15px;

    margin: 5px 0px;
}

textarea {
    resize: none;
    padding: 5px;
}

#anotacoes_gerais {
    height: 200px;
}


.anotacoes-gerais-box {
    background-color: rgba(229, 179, 160, 0.685);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

header h1{
    color: #A67924;
    text-shadow: 1px 1px 1px #8C4303;
    text-align: center;
    margin-bottom: 10px;
}

.container-pistas h3 {
    text-align: center;
    margin-top: 15px;
}

.container-pistas {
    display: flex;
    flex-direction: column;

}

.container-pistas-box {
    display: flex;
    flex-wrap: wrap;

}

.pistas-box, .solucoes-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    background-color: #cfb19c;

    margin-bottom: 10px;

    border-radius: 10px;
    overflow: hidden;
}

.pistas-box textarea, .solucoes-box textarea, .anotacoes-gerais-box textarea {
    width: 95%;
    margin-bottom: 5px;
}

.pistas-box label, .solucoes-box label, .anotacoes-gerais-box label
{
    background-color: #d1854f;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: block;
    padding: 5px 0;
    margin-bottom: 5px;
}

.textarea-none {
    display: none;
}